In [1]:
print("check123")

check123

In [2]:
import nltk

In [3]:
# Section 2

# Section 2

In [4]:
message = "this is a comple code but im trying"
print(message)

this is a comple code but im trying

In [5]:
x = 20
y = 20.3
z = 2+ 5j

In [6]:
print(z)

(2+5j)

In [7]:
test = True
type(test)

bool

In [8]:
type(z)

complex

In [9]:
type(message) #this is a comment of a single line

str

In [10]:
if True:
    print("yes")

yes

In [11]:
#

In [12]:
#String DataType

In [13]:
K = "trying to print double quotes \"within double quoutes\""
print(K)

trying to print double quotes "within double quoutes"

In [14]:
len(K)
K[50]

'e'

In [15]:
#writing a multiple line
multiple = "you know what \
I just wanna sleep so bad \
but here I am, working through my sleepiness"

print(multiple)

you know what I just wanna sleep so bad but here I am, working through my sleepiness

In [16]:
multiple2 = """ Here's another way to write 
multiple lines, regardless of being tired and 
sleepy"""
print(multiple2)

 Here's another way to write
multiple lines, regardless of being tired and
sleepy

In [17]:
multiple

'you know what I just wanna sleep so bad but here I am, working through my sleepiness'

In [18]:
#combining two strings
word1 = "New to"
word2 = "Python    "
New_Word = (word1 +" "+ word2)
print(New_Word)
New_Word[0:4]
New_Word[-1]
New_Word[:7]
New_Word[7:]

New to Python

'Python    '

In [19]:
New_Word.upper()

'NEW TO PYTHON    '

In [20]:
New_Word.lower()

'new to python    '

In [21]:
len(New_Word)

17

In [22]:
New_Word.strip() #strip removes spaces infront or at the end of the phrase

'New to Python'

In [23]:
len(New_Word.strip()) #once the spaces arw rwmoved at the end using strip, you can see the length has changed

13

In [24]:
# 10: Numbers Maths and F-string tutorials
# math operators work ln:
    # () 
    #then **(exportentials) 
    #followed by * multipication
    #followed by / division then + and -

In [25]:
x =10

In [26]:
type(x)

int

In [27]:
y = "11"
type(y)

str

In [28]:
int(y)

11

In [29]:
int("2")

2

In [30]:
int(3.7)

3

In [31]:
float(y)

11.0

In [32]:
float(2)

2.0

In [33]:
float("3.1")

3.1

In [34]:
complex(z)

(2+5j)

In [35]:
q=10+8
w=12-2
e=13*2
r=12/2 #when divided result is displayed as a float

print(q ,"\n" ,w ,"\n", e,"\n",r)

18
 10
 26
 6.0

In [36]:
12//2 #integer division

6

In [37]:
12//8

1

In [38]:
2**3 #power

8

In [39]:
#or you can also use
pow(2,3)

8

In [40]:
11%3 #modulas

2

In [41]:
#dividing by zero regardless of the method, you will get the ZeroDivisionError as the output

In [42]:
# reffering to the order of mathematical operators mentioned above:
7 - 5 * 3 * (2+3)

-68

In [43]:
#rounding off numbers
round(4.5)

4

In [44]:
round(4.51)

5

In [45]:
x = 5.1265

In [46]:
print(f"Trying to print the value of x which is {x}")

Trying to print the value of x which is 5.1265

In [47]:
#say you want to only display the frist 2 decimals and it rounds off ur number to 2 decimal points
print(f"Trying to print the value of x which is {x:.2f}")

Trying to print the value of x which is 5.13

In [48]:
# 11. handling inputs and outputs

In [49]:
num = input("Enter your number: ")
print(num)

1

In [50]:
name = input("Input your name: ")
print(name)

jini

In [51]:
type(num)

str

In [52]:
type(name)

str

In [53]:
#when you use the input function, ypur input type is always a string

In [54]:
#say you want to input it as a number itself, 
num2 = int(input("Enter Number: "))

In [55]:
type(num2)

int

In [56]:
print("My name is",name)

My name is jini

In [57]:
print("31" * 5)
print(int(12.7) % 3)
print("3" + 2.3)

3131313131
0

TypeError: can only concatenate str (not "float") to str