# Section 3

In [110]:
#list creation
list1 = []
list2 = list()
print(list1)
print(list2)

[]
[]

In [111]:
type(list1)

list

In [112]:
type(list2)

list

In [113]:
#number list
num = [1,2,3,4,5]
num2 = list((10,15,20))

print(type(num))
print(type(num2))

<class 'list'>
<class 'list'>

In [114]:
#string list
str_list= ["blue","name"]
print(str_list)

['blue', 'name']

In [115]:
#mixed list
mixed = ["hello", True, 1, 3.5]
print(mixed)
print(type(mixed))

['hello', True, 1, 3.5]
<class 'list'>

In [116]:
#list in list
linl = [1,2,[3.1,3.5,3.8],4,5]
print(linl)

[1, 2, [3.1, 3.5, 3.8], 4, 5]

In [117]:
# to extract the needed from the list
print(linl[0])
print(linl[2])
print(linl[-1]) #negative indexing: from the other way around

1
[3.1, 3.5, 3.8]
5

In [118]:
#to get a range 
print(linl[0:3])

[1, 2, [3.1, 3.5, 3.8]]

In [119]:
#same as the aboce
print(linl[:3])

[1, 2, [3.1, 3.5, 3.8]]

In [120]:
colors = ["red", "black", "blue"]
"red" in colors

True

In [121]:
"orange" in colors

False

In [122]:
colors.append("orange") #add item to the list

In [123]:
print(colors)

['red', 'black', 'blue', 'orange']

In [124]:
#inaert item using a specific index
colors.insert(2,"green") # so the third item is now green
print(colors)

['red', 'black', 'green', 'blue', 'orange']

In [125]:
#u can als o use
colors[3] = "pink"
colors

['red', 'black', 'green', 'pink', 'orange']

In [126]:
#remove green
colors.pop(2)

'green'

In [127]:
print(colors)

['red', 'black', 'pink', 'orange']

In [128]:
colors.pop() #if you use pop methid without a parameter, then it removes the last item in the list

'orange'

In [129]:
print(colors)

['red', 'black', 'pink']

In [130]:
#to add another list or merge
colors.extend(["purple", "brown"])
print(colors)

['red', 'black', 'pink', 'purple', 'brown']

In [131]:
# you can also use del to remove using the index
del colors[3]#remove purple
print(colors)

['red', 'black', 'pink', 'brown']

In [132]:
# T U P L E S
num1 = tuple((1,2,3,4,5))
num2 = (11,12,13,14,15)

In [133]:
type(num2)

tuple

In [134]:
#just like in lest you can call indexesS
num2[0]

11

In [135]:
num2[3:]

(14, 15)

In [136]:
num2[1:4]

(12, 13, 14)

In [137]:
#however you CANNOT CHNGE THE  POSTIONING OF THE TUPLE
num2[2]=3

TypeError: 'tuple' object does not support item assignment

In [ ]:
fruits = ("berry","apple","banana")
"berry" in fruits

True

In [ ]:
"melon" in fruits

False

In [ ]:
#delete tuple
del fruits

In [ ]:
fruits

NameError: name 'fruits' is not defined

In [ ]:
#data structures using dictionaries
new_dict = {"Ronaldo": 7, "Messi":10, "Kai":17}
new_dict1 = dict({"Jini":10,"Sessy":9.8,"Akila":6})

In [ ]:
#sequence of a tuple also can be converted to a dictionary
children = dict({("child1","5"),("child2","6"),("child3","7")})
children

{'child2': '6', 'child3': '7', 'child1': '5'}

In [ ]:
#to get the meaing
new_dict["Messi"]

10

In [ ]:
#change the value
children["child2"]=13
#although it was a tuple, now that it is convereted to a dictionary ,you can change it 
children

{'child2': 13, 'child3': '7', 'child1': '5'}

In [ ]:
del children["child1"]

In [ ]:
children

{'child2': 13, 'child3': '7'}

In [ ]:
"child1" in children

False

In [ ]:
# S E T S IN P Y T H O N
#No duplicates

In [ ]:
set1 = set((12,11,11,23,4,5))
set1

{4, 5, 11, 12, 23}

In [ ]:
set2 = {3,5,6,7,8,9}
set2

{3, 5, 6, 7, 8, 9}

In [ ]:
type(set1)

set

In [ ]:
set("chocolate")

{'a', 'c', 'e', 'h', 'l', 'o', 't'}

In [ ]:
set('python')

{'h', 'n', 'o', 'p', 't', 'y'}

In [ ]:
#converting a dict to set
x = set({"Ronaldo":7,"Messi":10})
x

{'Messi', 'Ronaldo'}

In [ ]:
del x

In [ ]:
x

NameError: name 'x' is not defined