# Pandas Data Analysis

### Level 1

#### Pandas is an open source and powerful python library. it is used for data analysis and visualization.

In [1]:
#first import the module
import pandas as pd

In [3]:
#series :one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.).
s = pd.Series([11,12,13,14])
s
#in the end it shows the datatype as dtype : integer 64 bit

0    11
1    12
2    13
3    14
dtype: int64

### Level 2

In [4]:
#you can either give the index too
s2 = pd.Series([11,12,13,14,15], index = ['a','b','c','d','e'])
s2

a    11
b    12
c    13
d    14
e    15
dtype: int64

In [16]:
#dataframe
colors = ["red", "orange", "blue", "black", "pink"]
degrees = [25,30,40,45,40]
numbers = [1,2,3,4,5]

df = pd.DataFrame({"colors": colors, "degrees": degrees, "numbers" : numbers},
                    columns = ['colors', 'degrees','numbers'],
                    index = range(1,6))

df

   colors  degrees  numbers
1     red       25        1
2  orange       30        2
3    blue       40        3
4   black       45        4
5    pink       40        5

### Level 3

In [17]:
#read a csv file
data = pd.read_csv('sample10.csv', low_memory= False)
data

   No   Cars  numbers  year  price
0   1   Car1      123  2005   5000
1   2   Car2      456  2006   6000
2   3   Car3      789  2007   7000
3   4   Car4     1011  2008   8000
4   5   Car5     1213  2009   9000
5   6   Car6     1415  2010  10000
6   7   Car7     1617  2011  11000
7   8   Car8     1819  2012  12000
8   9   Car9     2011  2013  13000
9  10  Car10     2356  2014  14000

### Level 4

In [18]:
#to get only the first 5
data.head(6)

   No  Cars  numbers  year  price
0   1  Car1      123  2005   5000
1   2  Car2      456  2006   6000
2   3  Car3      789  2007   7000
3   4  Car4     1011  2008   8000
4   5  Car5     1213  2009   9000
5   6  Car6     1415  2010  10000

In [21]:
new_url = "https://en.wikipedia.org/wiki/Justin_Bieber"

In [24]:
new_html = pd.read_html(new_url, header=0 , index_col=0)[3]
new_html.head(3)

                                                   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteJustin Bieber.1
.mw-parser-output .navbar{display:inline;font-s...
Awards and nominations Discography Live perform...  Awards and nominations Discography Live perfor...
Studio albums                                       My World 2.0 Under the Mistletoe Believe Purpo...
Extended plays                                                                       My World Freedom

In [26]:
data

   No   Cars  numbers  year  price
0   1   Car1      123  2005   5000
1   2   Car2      456  2006   6000
2   3   Car3      789  2007   7000
3   4   Car4     1011  2008   8000
4   5   Car5     1213  2009   9000
5   6   Car6     1415  2010  10000
6   7   Car7     1617  2011  11000
7   8   Car8     1819  2012  12000
8   9   Car9     2011  2013  13000
9  10  Car10     2356  2014  14000

In [28]:
data.shape #rows , colummns

(10, 5)

### Level 5

In [30]:
#to find the info
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       10 non-null     int64
 1   Cars     10 non-null     object
 2   numbers  10 non-null     int64
 3   year     10 non-null     int64
 4   price    10 non-null     int64
dtypes: int64(4), object(1)
memory usage: 528.0+ bytes

In [32]:
#to get the basic stats
data.describe()

             No      numbers        year         price
count  10.00000    10.000000    10.00000     10.000000
mean    5.50000  1281.000000  2009.50000   9500.000000
std     3.02765   703.167279     3.02765   3027.650354
min     1.00000   123.000000  2005.00000   5000.000000
25%     3.25000   844.500000  2007.25000   7250.000000
50%     5.50000  1314.000000  2009.50000   9500.000000
75%     7.75000  1768.500000  2011.75000  11750.000000
max    10.00000  2356.000000  2014.00000  14000.000000

In [35]:
data.loc[data["price"].argmax()][["Cars","price"]]

Cars     Car10
price    14000
Name: 9, dtype: object

In [36]:
data.loc[data["price"].argmin()][["Cars","price"]]

Cars     Car1
price    5000
Name: 0, dtype: object

### Level 6

In [37]:
#excel sheets

In [38]:
import pandas as pd

In [42]:
xl = pd.read_excel("sample10.xls") #if the excel has more than one sheet
# xl = pd.read_excel("sample10.xls", sheet_name = 0) first sheet is  0 and None if you want to extract all the data
xl

   0 First Name  Last Name  Gender        Country  Age        Date    Id
0  1      Dulce      Abril  Female  United States   32  15/10/2017  1562
1  2       Mara  Hashimoto  Female  Great Britain   25  16/08/2016  1582
2  3     Philip       Gent    Male         France   36  21/05/2015  2587
3  4   Kathleen     Hanner  Female  United States   25  15/10/2017  3549
4  5    Nereida    Magwood  Female  United States   58  16/08/2016  2468
5  6     Gaston      Brumm    Male  United States   24  21/05/2015  2554
6  7       Etta       Hurn  Female  Great Britain   56  15/10/2017  3598
7  8    Earlean     Melgar  Female  United States   27  16/08/2016  2456
8  9   Vincenza    Weiland  Female  United States   40  21/05/2015  6548

In [44]:
#read jason files
pd.read_json() #the code

ValueError: Invalid file path or buffer object type: <class 'NoneType'>